.header {
	background-color: #A1E18A;
	width: 100%;
	max-height: 100%;
	font-size: 50px;
}






html, body {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
}


.about-me {
	display: block;
	position: relative;
	width: 100%;
	height: 346px;
	top: 50px;
	background-color: white;
}

.Romanch {
	padding-top: 15px
}

.image {
	position: absolute;
	right: 140px;
	top: 57px;
	width: 20%;
	
}

.image img {
	
	width: 100%;
	height: 238px;
	
}

.buttonR {
	position: absolute;
	right: 20px;
	top: 147px;
	
}

.btnRight {
	
	width: 58px;
	height: 54px;
	border-radius: 50%;
	
}

.information {
	position: absolute;
	width: 50%;
	height: 238px;
	left: 160px;
	top: 57px;
	background-color: #F7F7F7;;
	
}

.buttonL {
	position: absolute;
	left: 42px;
	top: 147px;
}

.btnLeft {
	width: 62px;
	height: 54px;
	border-radius: 50%;
}

.me {
	position: relative;
	width: 100%;
	height: 515px;
	left: 0px;
	top: 70px;
	background-color: #5163BF;
}



.education a {
	background: #F9A455;
	color:#000;
	text-decoration:none;
	display:block;
	width:90px;
	text-align:center;
	margin:20px auto;
	padding:10px 10px;
	transition:all 0.3s;
	width: 10%;
	
}

.education a:hover {
	background: #fff;
	color: #000;
	border-bottom: 3px solid red;
	border-radius: 10%;
}

.educationbtn {
	
	position: absolute;
	top: 20px;
	left: 200px;
	width: 20%;
	cursor: pointer;
}

.foreign-languagesbtn {
	position: absolute;
	top: 300px;
	left: 200px;
	cursor: pointer;
	
	
}


.projectsbtn {
	position: absolute;
	top: 20px;
	left: 850px;
	width: 100%;
	cursor: pointer;
}

.additional-Informationbtn {
	position: absolute;
	top: 300px;
	left: 850px;
	cursor: pointer;
}





.foreign-languages a {
	background: #F9A455;
	color:#000;
	text-decoration:none;
	display:block;
	width:90px;
	text-align:center;
	margin:20px auto;
	padding:10px 10px;
	transition:all 0.3s;
	width: 10%;
}

.foreign-languages a:hover {
	background: #fff;
	color: #000;
	border-bottom: 3px solid red;
	border-radius: 10%;
}




.projects a {
	background: #F9A455;
	color:#000;
	text-decoration:none;
	display:block;
	width:90px;
	text-align:center;
	margin:20px auto;
	padding:10px 10px;
	transition:all 0.3s;
	width: 10%;

}

.projects a:hover {
	background: #fff;
	color: #000;
	border-bottom: 3px solid red;
	border-radius: 10%;
}



.additional-Information a {
	background: #F9A455;
	color:#000;
	text-decoration:none;
	display:block;
	width:90px;
	text-align:center;
	margin:20px auto;
	padding:10px 10px;
	transition:all 0.3s;
	width: 10%;
}

.additional-Information a:hover {
	background: #fff;
	color: #000;
	border-bottom: 3px solid red;
	border-radius: 10%;
}

.footer {
	position: relative;
	width: 100%;
	height: 93px;
	left: 0px;
	top: 100px;

}

.contacts {
	position: absolute;
	width: 180px;
	height: 14px;
	left: 48px;
	top: 44px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 14px;
}

.number {
	position: absolute;
	width: 206px;
	height: 14px;
	left: 30px;
	top: 10px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 14px;
}

.mail {
	position: absolute;
	width: 348px;
	height: 14px;
	left: 30px;
	top: 10px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 14px;	
}





.fa-university {
	font-size: 24px;
	color: #3EEA13;
	position: absolute;
	top: 100px;
	left: 260px;
}

.fa-flag {
	font-size: 24px;
	color: #B701F8;
	position: absolute;
	left: 260px;
	top: 400px;
	
	
}

.foreign-languages-icon {
	position: absolute;
	right: 125px;
	bottom: 55px;
}



.additional-Information-icon {
	position: absolute;
	right: 130px;
	top: 350px;
}

.additional-Information-icon i {
	position: absolute;
	right: 140px;
	bottom: 30px;
	
}

.fa-user {
	font-size: 24px;
	color: white;
	position: absolute;
	left: 910px;
	top: 380px;
}
	
.phone-icon {
	position: absolute;
	right: 470px;
	bottom: 50px;
}	

.fa-phone {
	font-size: 24px;
}

.project-icon {
	position: absolute;
	right: 130px;
	top: 87px;
	
}

.fa-js {
	font-size: 24px;
	color: yellow;
	position: absolute;
	left: 910px;
	top: 100px;
	
	
	
}

.fa-envelope {
	font-size: 24px;
}

.mail-icon {
	position: absolute;
	right: 470px;
	top: 50px;
}

#textAdd {
	display: none;
	position: absolute;
	border: dotted 2px red;
	bottom: 150px;
	left: 470px;
	width: 20%;
	height: 60%;
	color: white;
	font-size: 20px;
	
	
}