.nav {
    grid-area: n;
    background-color: rgb(135, 197, 222);
    padding: 20px;
  }

.item a {
  color:white;
    text-decoration: none;
}

.item a.activeLink {
    color: pink;
}

.nav {
    width: 200px;
}
.FriendsR {
    margin-top: 50px;
}